.row {
    display: flex;
    /* flex-wrap: row; */
    /* justify-content: space-around; */
    /* align-items: center; */
}

.item {
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    border: 2px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-output {
    height: 100px;
    width: 308px;
    background-color: dodgerblue;
    border: 2px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* * {
    box-sizing: border-box;
}

.calc-border {
    border: 2px solid black;
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;
    border-radius: 10px;
}

header {
    text-align: right;
} */