.row {
    display: flex;
    /* flex-wrap: row; */
    /* justify-content: space-around; */
    /* align-items: center; */
}

.button {
    /* For JS functions */
}

#display {
    height: 100px;
    width: 412px;
    background-color: RGB(28, 28, 28);
    color: white;
    border: 2px solid RGB(28, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
}


.item-special {
    height: 100px;
    width: 100px;
    background-color: RGB(212, 212, 210);
    color: RGB(28, 28, 28);
    border: 2px solid RGB(28, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-operator {
    height: 100px;
    width: 100px;
    background-color: RGB(255, 149, 0);
    color: white;
    border: 2px solid RGB(28, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-number {
    height: 100px;
    width: 100px;
    background-color: RGB(80, 80, 80);
    color: white;
    border: 2px solid RGB(28, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-zero {
    height: 100px;
    width: 204px;
    background-color: RGB(80, 80, 80);
    color: white;
    border: 2px solid RGB(28, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-dot {
    height: 100px;
    width: 100px;
    background-color: RGB(80, 80, 80);
    color: white;
    border: 2px solid RGB(28, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
}





/* 
.item-output {
    height: 100px;
    width: 308px;
    background-color: dodgerblue;
    border: 2px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    border: 2px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/


/* 
.item {
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    border: 2px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-output {
    height: 100px;
    width: 308px;
    background-color: dodgerblue;
    border: 2px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/


/*
* {
    box-sizing: border-box;
}

.calc-border {
    border: 2px solid black;
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;
    border-radius: 10px;
}

header {
    text-align: right;
} */